In [84]:
import pandas as pd
import numpy as np
import pickle
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import f1_score, confusion_matrix
from sklearn.metrics import precision_score, recall_score
from sklearn.metrics import roc_auc_score
save_path = '/home/akash/greyatom/Hackathon_1/Portuguese_Bank/data/processed/'

In [65]:
load_path_X_train = save_path + 'X_train.csv'
X_train = pd.read_csv(load_path_X_train,index_col=0)

load_path_X_test = save_path + 'X_test.csv'
X_test = pd.read_csv(load_path_X_test,index_col=0)

load_path_Y_train = save_path + 'y_train.csv'
y_train = pd.read_csv(load_path_Y_train,header=None)

load_path_Y_test = save_path + 'y_test.csv'
y_test = pd.read_csv(load_path_Y_test,header=None)

In [66]:
X_train.head()

,job_endoded_feature,marital_endoded_feature,education_endoded_feature,default_endoded_feature,contact_endoded_feature,month_endoded_feature,poutcome_endoded_feature,euribor3m,cons_conf_idx,emp_var_rate
2617,9,1,5,0,1,6,1,4.858,-36.4,1.1
3794,1,1,2,0,1,6,1,4.857,-36.4,1.1
225,9,2,5,0,0,6,0,1.244,-46.2,-1.8
1769,9,2,5,0,0,6,0,1.281,-46.2,-1.8
3809,9,0,5,0,1,4,1,4.958,-41.8,1.4

In [67]:
X_test.head()

,job_endoded_feature,marital_endoded_feature,education_endoded_feature,default_endoded_feature,contact_endoded_feature,month_endoded_feature,poutcome_endoded_feature,euribor3m,cons_conf_idx,emp_var_rate
914,7,2,3,0,0,6,0,1.281,-46.2,-1.8
3019,9,1,5,0,0,1,1,4.964,-36.1,1.4
244,9,2,5,0,0,6,1,1.327,-46.2,-1.8
1036,1,1,3,1,1,6,1,4.858,-36.4,1.1
3517,7,1,3,0,0,3,1,4.961,-42.7,1.4

In [68]:
Y_train.head()

      0  1
0  2617  0
1  3794  0
2   225  0
3  1769  0
4  3809  0

In [69]:
y_train = pd.Series(np.array(y_train[1]), index=np.array(y_train[0]))
y_test = pd.Series(np.array(y_test[1]), index=np.array(y_test[0]))

In [71]:
print(X_train.shape,X_test.shape,y_train.shape,y_test.shape)

(3295, 10) (824, 10) (3295,) (824,)

In [76]:
scalar = MinMaxScaler()
scalar.fit(X_train)
X_train = scalar.transform(X_train)

X_test = scalar.transform(X_test)
model = LogisticRegression()
model.fit(X_train,y_train)
y_pred = model.predict(X_test)

/home/akash/venv/bank_portuguese/lib/python3.5/site-packages/sklearn/linear_model/logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

In [79]:
accuracy = model.score(X_test,y_test)

print(accuracy)

precision = precision_score(y_test,y_pred)

print(precision)

recall = recall_score(y_test,y_pred)

print(recall)

f1 = f1_score(y_test,y_pred)

print(f1)

confusion_mat = confusion_matrix(y_test,y_pred)

print(confusion_mat)

0.8968446601941747
0.6190476190476191
0.14444444444444443
0.23423423423423423
[[726   8]
 [ 77  13]]

In [80]:
from sklearn.metrics import roc_auc_score
roc = roc_auc_score(y_test,y_pred)
print(roc)

0.5667726309415683

In [85]:
# save the model to disk
save_path = '/home/akash/greyatom/Hackathon_1/Portuguese_Bank/models/Logistic_Regression'
pickle.dump(model, open(save_path, 'wb'))

In [ ]:
# load the model from disk
loaded_model = pickle.load(open(filename, 'rb'))